<div class="row">
	<div class="col-md-2 text-center">
		<h3>Settings</h3>
		<%= image_tag "Logo.jpeg", class:'logo' %>
		<hr/>
		<div class="time-zone">
			<p class="text-center">
				<b><%= Time.zone.name %> Timezone </b><br/>
				<%= link_to 'Change', edit_user_registration_path %>
			</p>
		</div>
		<div class="social">
			<% unless current_user.connections.where(provider: 'twitter').any? %>
				<%= link_to 'auth/twitter', class:'btn btn-info btn-block btn-sm' do %>
					<i class="fa fa-twitter"></i> Connect To Twitter
				<% end %>
			<% else %>
				<%= link_to 'auth/twitter', class:'btn btn-info btn-block btn-sm', disabled: true do %>
					<i class="fa fa-twitter"></i> Connect To Twitter
				<% end %>
				<%= link_to connection_path(current_user.connections.where(provider: 'twitter').first), method: :delete, class:'btn btn-info btn-block btn-sm' do %>
					<i class="fa fa-trash"></i> Delete Connection
				<% end %>
			<% end %>
		</div>
	</div>

	<!-- Scheduled Posts -->
	<div class="col-md-5">
		<h3 class="text-center">Scheduled</h3>
		<hr/>
	</div>

	<!-- Post History -->
	<div class="col-md-2 text-center">
		<h3 class="text-center">History</h3>
		<hr/>
	</div>
</div>